body{
    font-family:Helvetica;
    color:#ffffff;
    background-color: #348cb2;
    margin:0;
    overflow: hidden;
  }

  header, footer{
    text-align:center;
  }
  header h1 {
    font-size: 4.35em;
    font-weight: 400;
    letter-spacing: -0.035em;
    margin-top:10px;
    margin-bottom:10px;
  }

  header p {
    font-size: 1.25em;
    opacity: 0.5;
  }

  #ocean{
        background-image: url("images/ocean.jpg");
        background-position: bottom left;
        background-repeat: repeat-x;

        height:500px;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        -webkit-animation: ocean 60s linear infinite;
                animation: ocean 60s linear infinite;
        -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
        width: 200%;
      }

  @-webkit-keyframes ocean {
       0% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
       100% { -webkit-transform: translate3d(-1250px,0,0); transform: translate3d(-1250px,0,0); }
  }

  @keyframes ocean {
       0% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
       100% { -webkit-transform: translate3d(-1250px,0,0); transform: translate3d(-1250px,0,0); }
  }


  footer{
    background-color: #02232d;
    letter-spacing: .35em;
    padding:1em;

  }
